@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@layer components {
  .center-y {
    @apply flex items-center;
  }
  .center-xy {
    @apply flex items-center justify-center;
  }
  .padding-x {
    @apply px-5;
  }
  .padding {
    @apply p-5;
  }
  .animation {
    @apply transition-all duration-300;
  }
  .card {
    @apply border border-blue-200 rounded-lg bg-white shadow;
  }
  .animation {
    @apply transition-all duration-300;
  }
}
